<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main bootstrap -->
			<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="icon" type="image/png" href="/img/stanford_logo.png" />
		</head>
		<div id="container">
			<div id="content"><body>


			<!-- Google Tag Manager -->
			<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-N4KVK3"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
			<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-N4KVK3');</script>
			<!-- End Google Tag Manager -->
			
			{{ content }}
			
		</div>
		</div>
		</div><!-- /.container -->
			<!-- footer
			<footer>
	    		<ul>
	        		<li><a href="mailto:wpmarble@stanford.edu">email</a></li>
	        		<li><a href="williammarble.com">williammarble.com</a></li>
				</ul>
			</footer>
				-->
		</body>
	</html>