<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main bootstrap -->
			<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Cat Photos</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			<br><br><br>
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:wpmarble@stanford.edu">email</a></li>
	        		<li><a href="williammarble.com">williammarble.com</a></li>
				</ul>
			</footer>
		</body>
	</html>