<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main bootstrap -->
			<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
			<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
			<link rel="manifest" href="/icons/site.webmanifest">
			<link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
			<meta name="msapplication-TileColor" content="#da532c">
			<meta name="theme-color" content="#ffffff">
		</head>
		<div id="container">
			<div id="content"><body>


			<!-- Google Tag Manager -->
            <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-65808615-2', 'auto');
              ga('send', 'pageview');

            </script>
			<!-- End Google Tag Manager -->
			
			{{ content }}
			
		</div>
		</div>
		</div><!-- /.container -->
			<!-- footer
			<footer>
	    		<ul>
	        		<li><a href="mailto:wpmarble@stanford.edu">email</a></li>
	        		<li><a href="williammarble.com">williammarble.com</a></li>
				</ul>
			</footer>
				-->
		</body>
	</html>